/* LENIS--------------------------------------------------------- */
html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

/* FONT--------------------------------------------------------- */

@font-face {
    font-family:'ClashMedium';
    src: url(font/clashdisplay/ClashDisplay-Medium.woff2);
    font-weight: medium;
}
@font-face {
    font-family:'ClashSemiBold';
    src: url(font/clashdisplay/ClashDisplay-Semibold.woff2);
    font-weight: bold;
}
@font-face {
    font-family:'SatoshiMedium';
    src: url(font/satoshi/Satoshi-Medium.woff2);
    font-weight: medium;
}

/* ALL--------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #141515;
    --white: #F5FFFA;
    --green: #24985E;
}

html {
    background-color: var(--black);
}

body {
    color: var(--white);
    
}

/* MOBILE----------------------------------- */

@media screen and (min-width: 0px) {
  .header {
    color: var(--white);
    font-family: 'ClashMedium';
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.77em;
    padding: 10px;
    text-transform: uppercase;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.accueil {
    mix-blend-mode: difference;
    position: fixed;
    top: 0.5rem;
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    width: 100%;
}

.mail-size {
  display: none;
}

.text-presentation {
  font-family: 'ClashSemiBold';
    display: flex;
    flex-direction: column;
    min-height: 50svh;
    justify-content: end;
    padding-left: 10px;
    gap: 10px;
}

.name {
  color: var(--white);
  font-size: 4.3em;
  display: flex;
}

.star {
  display: flex;
}

.job {
  color: var(--green);
  font-size: 3.2em;
  max-width: 100%;
  display: flex;
}

.name span {
  display: flex;
    width: min-content
}

.arrow {
  display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    align-items: center;
    min-height: 50svh;
}


.text-color {
  color: var(--green)
}

.text-sentence {
  text-transform: uppercase;
  font-family: 'ClashMedium';
}

.test{
  position: absolute;
}

p {
  height: 152px;
  width: 300px;
  position: relative;
  animation: effect 8s linear infinite;
}

/* .img-text {
  padding: 10px;
}

.img-text img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scrolldown-span{
  position: absolute;
  left: 50%;
  transform-origin: 0px 74px;
  transform-style: flat;
  font-family: 'ClashMedium' ;
}

}
/* PC----------------------------------- */


.mail-size {
  width: 100px ;
  height: 100px ;
}

.mail-size img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} 